@import url('https://use.typekit.net/myl1ucu.css');
@import url('https://fonts.cdnfonts.com/css/apple-garamond');
@import url('https://fonts.cdnfonts.com/css/apple-chancery');

.a4 {
  size: 21cm 29.7cm;
  margin: 10mm 10mm 10mm 10mm;
  position: relative;
}
.qr-section {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#qrCodeImg {
  margin-top: 1em;
  width: 150px;
  height: 150px;
}
.signed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding-top: 0.5em;
  font-family: 'Apple Chancery', sans-serif;
  font-weight: lighter;
  font-size: 2.5em;
}
h2 {
  font-family: 'Apple Garamond', sans-serif;
  font-weight: lighter;
}
span {
  font-family: 'adobe-handwriting-ernie', sans-serif;
  font-size: 1.5em;
}
li {
  font-family: 'helvetica';
  font-weight: lighter;
  font-size: 0.8em;
  line-height: 1.3;
  list-style-type: none;
}
p {
  font-family: 'helvetica';
  font-weight: lighter;
  font-size: 0.8em;
  line-height: 1.3;
}
.description {
  margin: 2rem 5rem;
}
.line {
  margin-top: 3rem;
  border-bottom: 1px solid black;
}
.logo {
  width: 70px;
  position: absolute;
  bottom: 10px;
  right: 70px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

#video {
  display: block;
  height: 1000px;
  height: auto;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  position: relative;
}

#capture-btn {
  width: 700px;
  height: 100px;
  background-color: transparent;
  color: transparent;
  border: none;
  cursor: context-menu;
}
.explain {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 2rem;
}

#timer {
  font-family: 'adobe-handwriting-ernie', sans-serif;
  font-size: 3em;
  line-height: 0;
  color: rgb(45, 201, 55);
}

#cooldown {
  font-size: 1em;
  color: white;
}

#faceMask {
  position: absolute;
  height: 50%;
}
/* loader */
.cs-loader {
  display: none; /* Hide the loader by default */
}

#cooldown:not(:empty) + .cs-loader {
  display: block; /* Show the loader when the cooldown is running */
}

.cs-loader-inner {
  color: white;
}

.cs-loader-inner label {
  font-size: 15px;
  opacity: 0;
  display: inline-block;
}

@keyframes lol {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(300px);
  }
}

.cs-loader-inner label:nth-child(6) {
  -webkit-animation: lol 3s infinite ease-in-out;
  animation: lol 3s infinite ease-in-out;
}

.cs-loader-inner label:nth-child(5) {
  -webkit-animation: lol 3s 100ms infinite ease-in-out;
  animation: lol 3s 100ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(4) {
  -webkit-animation: lol 3s 200ms infinite ease-in-out;
  animation: lol 3s 200ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(3) {
  -webkit-animation: lol 3s 300ms infinite ease-in-out;
  animation: lol 3s 300ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(2) {
  -webkit-animation: lol 3s 400ms infinite ease-in-out;
  animation: lol 3s 400ms infinite ease-in-out;
}

.cs-loader-inner label:nth-child(1) {
  -webkit-animation: lol 3s 500ms infinite ease-in-out;
  animation: lol 3s 500ms infinite ease-in-out;
}

.black {
  background-color: black;
}
.black h2 {
  color: white;
}
.black p {
  color: white;
}
